[Unit]
Description=Bring up can0 (MCP2515)
Wants=sys-subsystem-net-devices-can0.device
After=sys-subsystem-net-devices-can0.device

[Service]
Type=oneshot
Environment=PATH=/usr/sbin:/sbin:/usr/bin:/bin
ExecStart=/usr/sbin/ip link set can0 down
ExecStart=/usr/sbin/ip link set can0 type can bitrate 500000 restart-ms 100
ExecStart=/usr/sbin/ip link set can0 up
ExecStop=/usr/sbin/ip link set can0 down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
