[Unit]
Description=ROS2 V2X Full Stack (Docker, autostart)
After=docker.service network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=3
ExecStart=<DOCKER_BIN> start -a ros2_v2x
ExecStop=<DOCKER_BIN> stop ros2_v2x

[Install]
WantedBy=multi-user.target
